.NotesList_user-list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.NotesList_user-time {
  font-weight: bold;
  max-width: 10vw;
  text-align: right;
  color: #1a83ff;
}

.NotesList_user-note {
  padding-left: 5px;
  max-width: 40vw;
}

@media screen and (max-width: 768px) {
  .NotesList_user-time {
    width: 100px;
    margin-right: 5px;
  }

  .NotesList_user-list {
    margin-top: 0px;
  }
}