.container {
  height: 100vh;
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 9rem;
}

.home-text {
  font-size: 6rem;
  /* color: rgb(62, 62, 62); */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30vh;
  font-weight: 900;
}

.Home_heading {
  font-weight: 300;
  color: #1a83ff;
  margin-bottom: 2rem;
}

.TrackInputForm_button-container {
  display: flex;
  place-items: center;
  justify-content: center;
}

.clear-data_button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #ceccca;
  color: #6a6a6a;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background 0.6s ease-in-out,
    transform 0.6s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

clear-data_button:hover,
clear-data_button:focus {
  background: #1a83ff;
}

clear-data_button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

clear-data_button:active {
  transform: scale(0.99);
}