.home {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #171717;
  padding: 2rem;
}

.home-text {
  font-size: 6rem;
  color: rgb(62, 62, 62);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30vh;
  font-weight: 900;
}

.user-name {
  color: white;
}