.container {
  height: 100vh;
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 10rem;
}

.home-text {
  font-size: 6rem;
  /* color: rgb(62, 62, 62); */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40vh;
  font-weight: 900;
}